.project {
  margin: 40px;
}

.heading-text {
  margin-top: 40px;
  color: var(--secondary);
  text-align: center;
}
.heading-text span {
  color: var(--secondary2);
}

.project-container {
}

/* project card */

.project-card {
  display: flex;
  gap: 20px;
  margin-top: 40px;
  min-height: 100px;
  box-shadow: var(--shadow);
  border-radius: 10px;
  padding: 20px;
  box-sizing: border-box;
}

.project-card img {
  width: 60%;
  height: auto;
  border-radius: 10px;
  border: 15px solid var(--secondary2);
}

.content {
  display: flex;
  flex-direction: column;
}

.content .title {
  margin-top: 20px;
  color: var(--secondary2);
}
.content .desc {
  margin-top: 10px;
  font-size: 12px;
}
.content .links {
  color: var(--primary2);
  text-decoration: underline;
  margin-top: 10px;
}

@media (max-width: 767px) {
  .project-card {
    flex-direction: column;
    gap: 0px;
  }
  .project-card img {
    width: 100%;
  }
}
