.footer-container{
  
    background: var(--primary ) 0.5;
    /* color: var(--bg); */
    width: 100%;
    min-height: 100px;
       padding: 40px 40px;
    position: absolute;
        left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.inner{
   
    margin-top: 40px  !important;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}
@media (max-width:767px){
   .inner{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
   }
}

.contact-text{

        color: var(--primary2);
    text-align: left;
    margin-bottom: 5px;
    
}
.contact-text span{
    color: var(--primary);
    font-size: 15px;
}


    .copy-write{
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--primary);
    }