@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");

.light {
  --bg: #fcfcfc;
  --bg2: #23283e;
  --primary: #cdcdff;
  --primary2: #444;
  --secondary: #555;
  --secondary2: #90a0d9;
  --shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.dark {
  --bg: #23283e;
  --bg2: #fff;
  --primary: #cdcdff;
  --primary2: #555;
  --secondary: #cdcdff;
  --secondary2: #90a0d9;
  --shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.app {
  font-family: Poppins;
  background: var(--bg);
  color: var(--primary);
  padding: 0px 25px 25px;
}
.app-without-p {
  font-family: Poppins;
  background: var(--bg);
  color: var(--primary);
}
